@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  max-width: 1152px;
  max-height: 412px;
  margin-left: 20px;
}

/* @media (min-width: 540px) {
  .embla__slide {
    flex: 0 0 700px;
  }
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 840px;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 1152px;
  }
} */